{% extends "base.html" %}

{% block title %}
change password
{% endblock %}

{% block content %}


<div class="form-container">
    <h2> 
        🔐 Change Password 
    </h2> 
    <p class="form-subtitle"> 
        Update your SecureBank account password. 
    </p>

    <form action="{{ url_for("change_password") }}" method="POST">

        <label>
            Old Password
        </label>

        <input
            type="password"
            name="old_password"
            placeholder="Enter Old password"
            required
        >

        <label>
            New Password
        </label>

        <input
            type="password"
            name="new_password"
            placeholder="Enter New Password"
            required
        >


        <label>
            Confirm Password
        </label>

        <input
            type="password"
            name="confirm_password"
            placeholder="Enter Confirm Password"
            required
        >
            
        <button type="submit" class=" btn full">
            Change Password
        </button>
    </form>
</div>



{% endblock %}