{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}


<div class="form-container">
    <h2> 
        🔐 Forgot Password 
    </h2> 
    <p class="form-subtitle"> 
        Forgot your SecureBank account password. 
    </p>

    <form action="{{ url_for("forgot_password") }}" method="POST">

        <label>
            Email
        </label>

        <input
            type="email"
            name="email"
            placeholder="Enter the user email"
            required
        >

        <label>
            New Password
        </label>

        <input
            type="password"
            name="new_password"
            placeholder="Enter New Password"
            required
        >


        <label>
            Confirm Password
        </label>

        <input
            type="password"
            name="confirm_password"
            placeholder="Enter Confirm Password"
            required
        >
            
        <button type="submit" class=" btn full">
            Change Password
        </button>
    </form>
</div>



{% endblock %}