{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}


{% block content %}

<div class="page-header">

    <h1>
        My Profile
    </h1>

</div>


<div class="profile-card">

    <div class="profile-avatar">
        <img src="static/uploads/{{ user.image }}" alt="👤" class="rounded-corners">
    </div>


    <h2>
        {{ user.full_name }}
    </h2>


    <div class="profile-details">

        <p>
            <strong>Email</strong>
            {{ user.email }}
        </p>

        <p>
            <strong>Phone</strong>
            {{ user.phone or "Not provided" }}
        </p>

        <p>
            <strong>Account Number</strong>
            {{ user.account_number }}
        </p>

        <p>
            <strong>CIF Number</strong>
            {{ user.cif }}
        </p>

        <p>
            <strong>IFSC Number</strong>
            {{ user.ifsc }}
        </p>

        <p>
            <strong>branch</strong>
            {{ user.name }}
        </p>

        <p>
            <strong>Balance</strong>
            ₹{{ "%.2f"|format(user.balance) }}
        </p>

        <p>
            <strong>Account Type</strong>
            {{ user.account_type }}
        </p>

        <p>
            <strong>Status</strong>
            {{ user.status }}
        </p>

    </div>


</div>

{% endblock %}